:root {
  --h1: #292929;
  --p: #525252;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}
.max-width {
  max-width: 1200px;
  margin: auto;
  /* border: 1px solid red; */
}
section {
  padding: 100px 0;
}

/* ------------------------------------ */

.topline {
  background: rgb(21, 24, 51);
  color: white;
  width: 100%;
  padding: 0 10px;
}
.row-topline {
  display: flex;
  justify-content: space-between;
}
.row-topline ul li {
  display: inline-block;
  border-right: 1px solid white;
  padding: 8px;
  font-size: 13px;
  color: rgb(236, 235, 235);
}
.row-topline i {
  padding-right: 3px;
  cursor: pointer;
}
.row-topline i:hover {
  color: rgb(105, 140, 255);
}

/* NAVIGATION BAR */
nav {
  position: relative;
  width: 100%;
  background: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  color: rgb(80, 109, 172);
  font-size: 35px;
  font-weight: 800;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 15px;
}
nav ul li a {
  color: black;
}
nav ul li a:hover {
  color: rgb(80, 109, 172);
}

#menu {
  font-size: 17px;
  border: 1px solid black;
  background-color: rgb(65, 64, 64);
  color: white;
  border-radius: 5px;
  padding: 12px 10px;
  display: none;
}
#menu:hover{background-color: rgb(117, 117, 117); }
/*---- HEADER SECTION---- */
header {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
}
.content {
  color: white;
  text-align: center;
  padding: 0 15px;
}
.content h1 {
  font-size: 75px;
}
.content p {
  margin: 30px 0;
  font-size: 17px;
  font-weight: 600;
}
.btn {
  padding: 10px 30px;
  border: 1px solid white;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  transition: 0.3s;
}
.btn:hover {
  background: white;
  color: black;
}
/*----- NOICE  SECTION----*/
.noice {
  width: 100%;
  background: rgb(7, 102, 146);
}
.row-noice {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.noice .p-1 {
  color: white;
  display: flex;
  align-items: center;
}

.noice .p-2 {
  color: white;
  padding: 10px 15px;
  background: tomato;
}

/*----------- FIRST PAGE-------- */
.first-page {
  background: rgb(216, 216, 216);
}
.row {
  display: flex;
  justify-content: center;
  gap: 40px 20px;
  flex-wrap: wrap;
  margin: 0 5px;
  /* border: 1px solid yellowgreen; */
}
.first-col {
  width: 260px;
  background: white;
  text-align: center;
  border-radius: 5px;
}
.first-col i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  color: white;
  margin-top: -50px;
  margin-bottom: 20px;
}
.first-col-content {
  padding: 15px;
}
.first-col-content h3 {
  color: rgb(58, 58, 58);
}
.first-col-content p {
  font-size: 15px;
  color: var(--p);
  margin: 20px 0;
}
.first-col a {
  display: block;
  color: gray;
  padding: 10px 0;
  border-top: 1px solid rgb(179, 178, 178, 0.5);
}
.first-col a:hover{color: rgb(25, 67, 255);}
.f1 {
  background: rgb(33, 48, 114);
}
.f2 {
  background: rgb(7, 102, 146);
}
.f3 {
  background: rgb(78, 77, 78);
}
.f4 {
  background: rgb(130, 78, 0);
}

/*----- ANIMATION SECTION----- */
.animation {
  min-height: 10vh;
  width: 100%;
  background: white;
  border-top: 1px solid rgba(116, 116, 116, 0.5);
  border-bottom: 1px solid rgba(116, 116, 116, 0.5);
  padding: 20px;
}
.animation-content {
  text-align: center;
}
.animation-content h1 {
  color: var(--h1);
}
/* ------customizable------ */
.animation-btn {
  margin-top: 30px;
  border: 2px solid rgb(25, 67, 255);
  padding: 10px 30px;
  display: inline-block;
  color: rgb(25, 67, 255);
  transition: 0.3s;
  font-size: 14px;
}
.animation-btn i {
  padding-right: 10px;
  font-size: 18px;
}
.animation-btn:hover {
  background: rgb(25, 67, 255);
  color: white;
}
/* ---------builder--------------- */
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
}
.heading h1 {
  font-size: 40px;
  font-weight: 600;
  color: var(--h1);
}

.heading p {
  margin: 20px 0;
}
.builder-col {
  width: 350px;
  padding: 20px;
  text-align: center;
  background: rgb(199, 198, 198, 0.3);
  transition: 0.5s;
}
.builder-col:hover i {
  transform: translateY(-15px);
}
.builder-col:hover {
  background-color: rgba(114, 197, 245, 0.2);
  box-shadow: 2px 2px 5px rgba(141, 141, 141, 0.2);
}
.builder-col i {
  margin-top: 15px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: rgb(33, 48, 114);
  border-radius: 50%;
  color: white;
  font-size: 20px;
  transition: 0.5s;
}
.builder-col h3 {
  color: rgb(41, 41, 41);
  margin: 20px 0;
}
.builder-col p {
  color: var(--p);
  margin-bottom: 10px;
}

/* -----passionate---- */
.passionate {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(https://images.unsplash.com/photo-1607128849509-bdccb1b58d09?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGdyYXl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
}
.passionate-content {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  color: white;
  padding: 50px;
}
.passionate-content h1 {
  margin-bottom: 20px;
}
.passionate-content p {
  color: var(--p);
}

/*----PRETTY SECTION---- */

.pretty-col {
  width: 48%;
  min-height: 400px;
}

.pretty-img {
  background: url(https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
  padding: 10px;
  display: flex;
  align-items: center;
}
.pretty-img h1 {
  color: white;
  margin-bottom: 10px;
}

.pretty-col .pretty-content-r {
  padding: 30px 20px 0;
}
.pretty-col .pretty-content-r p {
  color: var(--p);
}

.pretty-col .pretty-content-r h1 {
  color: var(--h1);
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 400;
}
.pretty-col .pretty-content-r p {
  font-size: 15px;
}

.skill {
  margin-top: 20px;
}

.skill-box {
  margin-bottom: 10px;
}
.power {
  position: relative;
  width: 100%;
  background: gray;
  height: 13px;
}

.power::after {
  content: "";
  background: rgb(105, 140, 255);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.p-1::after {
  width: 60%;
}
.p-2::after {
  width: 40%;
}
.p-3::after {
  width: 30%;
}
.p-4::after {
  width: 50%;
}

/*-------------- latest section--------- */
.latest-col {
  width: 280px;
}
.img-latest {
  width: 100%;
  height: 200px;
  position: relative;
  border: 5px solid gainsboro;
  border-radius: 5px;
  overflow: hidden;
}
.latest-col:hover img {
  transform: scale(1.1);
}

.latest-col img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.latest-col h3 {
  margin-top: 10px;
  text-align: center;
  color: var(--h1);
  font-size: 16px;
}

/* --------customers---------- */
.customers {
  background: linear-gradient(rgba(95, 95, 95, 0.8), rgba(51, 49, 49, 0.5)),
    url(https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHByb2plY3RzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 20px;
}
.customers h1 {
  font-size: 40px;
  color: white;
  font-weight: 300;
  margin-bottom: 30px;
}

.customers-box {
  max-width: 900px;
  margin: auto;
}

.customers img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin: 20px 0;
}

.customers p {
  color: white;
  margin: 10px 0;
}

.customers h4 {
  margin-top: 20px;
  color: rgb(43, 43, 43);
}
.customers h4 span {
  color: rgb(63, 55, 55);
}

/*----- metrics section----- */
.metrics {
  background: url(https://images.unsplash.com/photo-1547003016-f98f1b2861b0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njk5fHxibHVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
  padding: 50px 10px;
}
.metrics .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.metrics-col {
  color: white;
  text-align: center;
  width: 200px;
}

.metrics-col i {
  font-size: 40px;
}

.metrics-col h1 {
  margin: 10px 0;
  font-size: 40px;
  font-weight: 400;
}

.metrics-col p {
  color: var(--p);
  font-weight: 600;
}

/*----- FOOTER SECTION----- */
.footer-col {
  width: 31%;
  /* padding: 40px 0; */
}

.footer-col h1 {
  color: rgb(80, 109, 172);
  font-size: 40px;
  font-weight: 800;
}

.footer-col p {
  margin: 20px 0;
  color: var(--p);
  text-transform: lowercase;
}

.footer-col h3 {
  font-size: 17px;
  color: var(--h1);
  margin-top: 15px;
}

.footer-col ul li {
  border-bottom: 1px solid rgb(110, 110, 110, 0.3);
  font-size: 13px;
  padding: 15px 0;
  color: rgb(80, 109, 172);
}
.grid-item img {
  width: 100%;
  object-fit: cover;
}
.grid-item {
  /* margin-top: 10px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media(max-width:1150px){.builder-col{width: 300px;}}

@media (max-width: 991px) {
  /*----- navigation section----- */
  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #222222;
    display: none;
  }
  nav .navigation.active{display: block;}

  nav ul li {
    display: block;
    margin: 10px 20px;
    padding: 5px;
    line-height: 20px;
    border-bottom: 1px solid rgb(63, 125, 206, 0.3);
  }
  nav ul li:last-child {
    border: none;
  }

  nav ul li a {
    color: white;
    display: block;
  }

  nav ul li a .fas {
    display: none;
    border: none;
  }

  #menu {
    display: block;
    float: right;
    cursor: pointer;
  }
  /* noice section */
  .row-noice {
    display: flex;
    flex-direction: column;
  }
  .noice .p-1 {
    margin: 0 10px 20px 10px;
  }
  .noice .p-2 {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 45px;
  }
  .topline-r {
    display: none;
  }
  .row {
    flex-direction: column;
    align-items: center;
  }

  .first-col,
  .builder-col,
  .pretty-col,
  .latest-col,
  .metrics-col,
  .footer-col {
    width: 99%;
  }
}

@media (max-width: 545px) {
  .first-col{margin-bottom: 15px;}
  .topline {
    display: flex;
  }
  .row-topline ul li {
    border: none;
    display: block;
    text-align: center;
    margin: auto;
  }
}


.end{
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}
.end a{color: chocolate;}